<footer id="contacts-section" class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>О нас</h5>
                <p>
                    Мы выращиваем лаванду и производим натуральные продукты
                    с заботой о вашем здоровье и благополучии. Наша история началась
                    с небольшого лавандового поля в живописной долине Молдовы, где идеальный
                    климат и плодородная почва создают превосходные условия для выращивания
                    этого удивительного растения.
                </p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Контакты</h5>
                <p><i class="fas fa-phone me-2"></i>+37368332507</p>
                <p><i class="fas fa-envelope me-2"></i>roman.poddubnii@isa.utm.md</p>
                <p><i class="fas fa-map-marker-alt me-2"></i>Муниципиу Кишинэу, Лавандовая долина</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Мы в соцсетях</h5>
                <div class="social-icons">
                    <a href="https://www.instagram.com/su_1side/?hl=en"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.instagram.com/su_1side/?hl=en"><i class="fab fa-vk"></i></a>
                    <a href="https://www.instagram.com/su_1side/?hl=en"><i class="fab fa-telegram"></i></a>
                    <a href="https://www.instagram.com/su_1side/?hl=en"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">© 2025 Лавандовый рай. Все права</p>


        </div>
    </div>
</footer>